<ol class="post-list">
    {{!-- the #each /each syntax indicates where the iteration
    starts and ends --}}
  {{#each posts as |post|}}
  {{!-- that second |post| declares a variable
  for each object to use in the template --}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>